@media screen and (min-height:600px) and (min-width:1024px) {
    nav img {
        width: 5vw;
        height: 5vh;
    }

    main {
        flex-direction: row;
        height: 100vh;
    }

    .part1 {
        width: 70%;
    }

    .query {
        margin: 0 0 0 14vw;
    }

    .query textarea {
        font-size: 2.5vw;
    }

    .info {
        margin: 17vw 0 0 12vw;
    }

    .info span {
        font-size: 1.5vw;
    }

    .actions {
        justify-content: space-evenly;
        margin: 0.5vw 0 0 16vw;
    }

    .actions button {
        width: 40%;
        height: 8vh;
        font-size: 1.5vw;
        margin: 0;
    }

    .actions #encrypt {
        margin-left: unset;
    }

    .actions #desencrypt {
        margin-right: unset;
    }

    .part2 {
        position: unset;
        width: 30%;
        bottom: unset;
    }

    .result {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .result .card {
        height: 90%;
        margin: 0 0 0 10px;
    }
    
    .card img {
        display: inline-block;
        width: 25vw;
        height: 50vh;
    }
}